{%extends 'base/base.html'%}
{%block head%}
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css ">
{%endblock%}


  {%block encabezado%}Medidores{%endblock%}
  {%block content%}


  <div class="content">
  <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Listado de Medidores</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>Numero de Medidor</th>
                          <th>Modelo de Medidor</th>
                          <th>Tag del Medidor</th>
                          <th>Id del Radio</th>
                          <th>Direccion</th>
                          <th class="">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        {%for medidor in medidores%}
                        <tr>
                          <td class="text-center">{{medidor.id}}</td>
                          <td>{{medidor.num_medidor}}</td>
                          <td>{{medidor.modelo}}</td>
                          <td>{{medidor.tag}}</td>
                          <td>{{medidor.radio.clave}}</td>
                          <td>{{medidor.radio.direccion.calle}}</td>

                          <td class="td-actions">
                            
                            <a href="{%url 'edit_medidor' pk=medidor.id%}" class="btn btn-success btn-link">
                              <i class="material-icons">edit</i>
                            </a>
                            
                            <a href="{%url 'delete_medidor' pk=medidor.id%}" class="btn btn-danger btn-link" >
                              <i class="material-icons">close</i>
                            </a>
                          </td>
                        </tr>
                        {%endfor%}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>



  {%endblock%}